#content form > div {
    margin: 15px;
}

#block-image {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#image-list {
    max-height: 25vh;
    margin: 15px;
    padding: 0px;
}

#image-list > div {
    margin: 0.5vh;
    padding: 0px;
    cursor: pointer;
    background-position: center;
    background-size: cover;
}

#block-image > div:first-child {
    flex: 1;
}
#block-image > div:last-child {
    display: flex;
}
#block-image > div:last-child label {
    flex: 1;
    margin-left: 5%;
    margin-right: 5%;
}

#content select, #content input{
    margin-bottom : 5px;
}