#login-page{
    display: flex;
    flex-wrap: wrap;
}

#login{
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
    min-width: 700px;
    max-width: 80vh;
}

.align-text{
    text-align: center;
}

.align-item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.login-content{
    flex-grow: 1;
    margin-bottom: 2vh;
}

input[type="text"], input[type="email"], input[type="password"]{
    min-width: 25vh;
    max-width: 70vh;
}

@media only screen and (max-width: 770px) {
    #login{
        margin-left: 5%;
        margin-right: 5%;
        min-width: 490px;
    }

    .align-item{
        display: inline;
    }
}

@media only screen and (max-width: 540px) {
    #login{
        margin-left: 0;
        margin-right: 0;
    }

    .align-item{
        display: inline;
    }
}