body{
    min-width: 480px;
}

#profil-page{
    display: flex;
    flex-wrap: wrap;
}

#profil{
    flex: 8;
    margin-right: 10vh;
    margin-top: 3vh;
    min-width: 400px;
    max-width: 80vh;
}

#avis{
    flex: 8;
    margin-top: 3vh;
    min-width: 400px;
    max-width: 80vh;
}

.profil-content{
    flex-grow: 1;
    margin-bottom: 2vh;
}

.avis-content{
    flex-grow: 1;
    margin-bottom: 2vh;
}

.align-text{
    text-align: center;
}

.align-item{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.align-item-force{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

input[type="text"], input[type="email"], input[type="password"]{
    min-width: 25vh;
    max-width: 70vh;
}

@media only screen and (max-width: 770px) {
    #profil{
        margin-left: 5%;
        margin-right: 5%;
    }

    .align-item{
        display: inline;
    }
}

@media only screen and (max-width: 540px) {
    #profil{
        margin-left: 0;
        margin-right: 0;
    }

    .align-item{
        display: inline;
    }
}