* {
  padding: 0px;
  margin: 0px;
  --green: #9c0;
  --dark-blue: #343A40;
  --gray: #444;
  --light-gray: #818181;
  --white: #ededed;
  --med-white: #ccc;
  --shadow: 3px 3px 3px #0001;
  --red: #B00;
  --blue: #36F;
  color: var(--dark-blue);
}

body {
  min-height: 100vh;
  background-color: var(--white);
}

h1{
  text-align : center;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
  font-family: Orbitron;
  margin-bottom: 2.5vh;
}

a {
  color: var(--green);
}
a:hover {
  color: var(--green);
}

/* checkbox */

.custom-control-input:active~.custom-control-label::before,
.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
  border: 1px solid var(--green);
  background-color: var(--green);
}
.custom-checkbox .custom-control-input:focus~.custom-control-label::before{
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(153, 204, 0, 0.5); 
}

/* scrollbar */

/*::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background: var(--white);
}
::-webkit-scrollbar-thumb {
  background: var(--dark-blue);
  border-bottom: 1vh solid var(--dark-blue);
  border-top: 1vh solid var(--dark-blue);
}
::-webkit-scrollbar-thumb:hover {
  border-bottom: 1vh solid var(--green);
  border-top: 1vh solid var(--green);
}
::-webkit-scrollbar-corner {
  background: var(--white);
}*/

/* reparit css */

.rpt-block {
  border: 1px solid var(--med-white);
  box-shadow: var(--shadow);
  border-radius: 7.5px;  
}
input.rpt-block {
  padding: 5px;
}
p.rpt-block,
div.rpt-block,
form.rpt-block {
  padding: 15px;
}

.rpt-shadow {
  box-shadow: var(--shadow);
}

.rpt-button {
  background: #0000;
  box-shadow: var(--shadow);
  border: 1px solid var(--green);
  color: var(--green);
  border-radius: 3.5px;
  padding: 5px;
  min-width: 5%;
  transition : all 0.25s ease;
  cursor: pointer;
}
.rpt-button:hover {  
  background: var(--green);
  color: var(--white);
}

.rpt-button.rpt-button-red {
  border: 1px solid var(--red);
  color: var(--red);
}
.rpt-button.rpt-button-red:hover {  
  background: var(--red);
  color: var(--white);
}

.rpt-button.rpt-button-blue {
  border: 1px solid var(--blue);
  color: var(--blue);
}
.rpt-button.rpt-button-blue:hover {  
  background: var(--blue);
  color: var(--white);
}