#t-pose{
    width : 45%;
    margin-top: 7vh;
    margin-bottom: 3vh;
    display: block;
    border-radius: 7%;
}
  
h1{
    font-family: Orbitron;
    font-size: 50px;
}

body{
    color: #3d3d3d;
}

.center{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#description{
    font-family: Orbitron;
    font-size: 30px;
    padding-bottom: 7vh;
    margin-bottom: 0vh !important;
}

#content{
    display: flex;
}

#contenu-404{
    margin: auto;
}

@media screen and (max-width: 640px) {
    #content {
        min-height: 72vh;
        padding-left: 15vh;
        padding-right: 15vh;
    }

    h1{
        font-family: Orbitron;
        font-size: 30px;
    }

    #description{
        font-size: 20px;
        padding-bottom: 7vh;
        margin-bottom: 0vh !important;
        margin-top: 20px;
    }
}