/* Icones */

.reduire{
  width : 50%;
}

.label{
  margin-top: 1.5%;
}

h2, h3{
  text-align : center;
}

h3{
  color:var(--green);
}

.info {
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding: 15px;
}
.info:hover {
  text-decoration: none;
}
.espaC{
  margin-bottom: 2%;
  margin-right: 2%;
}

#cookies {
  background-color: rgba(20, 20, 20, 0.795);
  min-height: 26px;
  font-size: 14px;
  color: rgb(255, 255, 255);
  line-height: 26px;
  padding: 8px 0 8px 30px;
  font-family: "Trebuchet MS",Helvetica,sans-serif;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  z-index: 9999;
}

#close-cookies {
  float: right;
  display: inline-block;
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: -15px 0 0 0;
  font-weight: bold;
}

#close-cookies:hover {
  color: #FFF;
}

#cookies a.btn-cookies {
  background-color: #9c0;
  color: #000;
  display: inline-block;
  border-radius: 5px;
  padding: 0 20px;
  cursor: pointer;
  float: right;
  margin: 0 60px 0 10px;
}

#cookies a.btn-cookies:hover {
  background-color: rgb(131, 175, 0);
}

@media screen and (max-width: 415px) {
  #cookies {
    padding-bottom: 15px;
  }

  #cookies a.btn-cookies {
    float: none;
    margin: auto;
  }
}