button{
    margin-bottom: 10px;
    margin-top: 10px;
}

#carousel{
    margin: auto;
    max-height: 380px;
    max-width: 420px;
    overflow: hidden;
}

h1{
    margin-bottom: 20px;
}

h2{
    margin-bottom: 20px;
    padding-top: 20px;
}

#contenu-image{
    flex-grow: 3;
}

#contenu{
    margin-top: 50px;
    padding-bottom: 50px;
}

#details{
    margin-left: 50px;
    flex-grow: 2;
    margin-top: 20px;
}

#signaler-mobile{
    display: none;
    width: 40px;
    height: 40px;
    padding: 8px 8px 8px 8px;
    font-family: Arial, Verdana;   
    background-image: url('../images/flag.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#proposition{
    margin-top: 25px;
    width: 50%;
    display:none;
}

#carousel.rpt-block {
    padding: 0px;
}

input:not([type="submit"]){
    border: 1px solid var(--med-white);
    border-radius: 7.5px;
    box-shadow: 2px 2px 5px var(--med-white);
    text-align : center;
}

textarea{
    width: 100%;
}

#content form{
    background-color: var(--white);
}

#popup-s{
    width: 78%;
    padding: 10px; 
    position: absolute;
    top: 100px; 
    display: none;
    z-index: 1000;
}

#popup-inner{
    background-color: var(--white);
}

#close {
    float:right;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

#close:hover{
    opacity:1;
}

.problem{
    margin-left : 50px;
}

.fit{
    object-fit: cover;
    width:50vh;
    height:50vh;
}

@media only screen and (max-width: 900px) {
    #content {
        padding-left: 5vh;
        padding-right: 5vh;
    }

    #details{
        margin-left: 0;
    }

    #proposition{
        width: 80%;
    }

}

@media only screen and (max-width: 640px) {
    #content {
        min-height: 72vh;
        padding-left: 5vh;
        padding-right: 5vh;
    }

    #details{
        margin-left: 0;
    }

    #signaler-desktop{
        display: none;
    }

    #signaler-mobile{
        display: inline-block;
    }

    #proposition{
        width: 80%;
    }

}