.rpt-block li{
    margin-bottom: 10px;
    margin-left: 20px;
}

.rpt-block{
    margin-bottom: 25px;
}

.rpt-block img{
    margin-bottom: 0;
}

q{
    font-style: italic;
    font-size: 20px;
}

.item-equipe{
    margin-bottom: 25px;
}

.texte-equipe{
    margin-left: 20px;
}

#emote{
    width: 20px;
}
