#contenu{
    margin-top: 25px;
    margin-bottom: 50px;
}

a{
    color: black;
    text-decoration: none;
}

.align-text{
    text-align: center;
}

a:hover{
    color: --green;
    transition: 0.2s;
    text-decoration: none;
}

h2{
    font-size: 25px;
    font-family: 'Lato';
}

#item-right p{
    font-size: 18px;
}

@media only screen and (max-width: 560px) {
    h2{
        font-size: 18px;
    }

    #item-right p{
        font-size: 13px;
    }
}