body {
  display: flex;
  flex-direction: column;
}

/* header */

header {
  min-height: 6vh;  
}

header nav {
  border-top: 1vh solid var(--green);
  background-color: var(--dark-blue);
}

header .img-responsive {
  margin-left: 25%;
}

/* content */

#content {
  flex: 1;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

#popup-login{
  display: none;
}

/* footer */

footer {
  text-align: center;
  color: var(--white);
}

footer section {
  min-height: 10vh;
}

footer div {
  margin-top: 1vh;
}

footer a {  
  color: var(--white);
}
footer a:hover {
  color: var(--white);
}

footer p {
  color: var(--white);
}

footer section:first-child {
  border-top: 1vh solid var(--green);
  background-color: var(--light-gray);
}
footer section:last-child {
  background-color: var(--gray);
  padding-bottom: 1px;
}

.centrer{
  margin-top: 2%;
}

@media only screen and (max-width: 765px) {
  .img-responsive {
    margin: 0;
  }

  .centrer_long {
    margin-top: 1.5%;
  }
}

@media only screen and (min-width: 765px) and (max-width: 1010px) {
  .centrer_long {
    margin-top: 1%;
  }

  .icone{
    margin-top: 0;
  }
}

@media only screen and (min-width: 1011px) {
  .centrer_long {
    margin-top: 2%;
  }

  .icone{
    margin-top: 0;
  }
}