#login-page{
    display: flex;
    flex-wrap: wrap;
}

#login{
    margin-left: auto;
    margin-right: auto;
    padding-left: 5vh;
    padding-right: 5vh;
    margin-top: 3vh;
    max-width: 80vh;
}

.align-text{
    text-align: center;
}

.align-item{
    display: inline;
    margin-left: auto;
    margin-right: auto;
}

.align-item > input{
    max-width: 35vh;
    margin-left: auto;
    margin-right: auto;
}

.login-content{
    flex-grow: 1;
    margin-bottom: 2vh;
}

input[type="text"], input[type="email"], input[type="password"]{
    min-width: 15vh;
    max-width: 70vh;
}

@media only screen and (max-width: 770px) {
    .align-item{
        display: inline;
    }
}

@media only screen and (max-width: 540px) {
    .align-item{
        display: inline;
    }
}