#contenu{
    margin-top: 25px;
    margin-bottom: 50px;
}

a{
    color: black;
    text-decoration: none;
}

.align-text{
    text-align: center;
}

a:hover{
    color: --green;
    transition: 0.2s;
    text-decoration: none;
}

#item-left img{
    max-width: 200px;
    max-height: 200px;
    border-radius: 7%;
}

#item-left{
    margin-right: 50px;
}

h2{
    font-size: 25px;
    font-family: 'Lato';
    /* text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden; */
}

#item-right p{
    font-size: 18px;
}

.nom-produit {
    font-size: 30px;
}

.thumbnail {
    width: 40vh;
    height: 40vh;
    object-fit: cover;
}

/* MODIFIER LE TRAVAIL DE POLICE + RESPONSIVE */

@media only screen and (max-width: 900px) {

}

@media only screen and (max-width: 560px) {
    #item-left{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
    }

    h2{
        font-size: 18px;
    }

    #item-right p{
        font-size: 13px;
    }
}