body{
    min-width: 480px;
}

#profil-page{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

#profil{
    flex: 8;
    margin-top: 3vh;
    min-width: 400px;
    max-width: 80vh;
    margin-left: auto;
    margin-right: auto;
}

#avis{
    flex: 8;
    margin-top: 3vh;
    min-width: 400px;
    max-width: 80vh;
    margin-left: auto;
    margin-right: auto;
}

.profil-content{
    flex-grow: 1;
    margin-bottom: 2vh;
}

.avis-content{
    flex-grow: 1;
    margin-bottom: 2vh;
}

.align-text{
    text-align: center;
}

.align-item{
    display: inline;
    margin-left: auto;
    margin-right: auto;
}

.align-item > input{
    max-width: 35vh;
    margin-left: auto;
    margin-right: auto;
}

.align-item-force{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

input[type="text"], input[type="email"], input[type="password"]{
    min-width: 25vh;
}

@media only screen and (min-width: 1000px) and (max-width: 1150px) {
    #profil-page{
        flex-wrap: nowrap;
    }
}

@media only screen and (min-width: 1000px) {
    #avis{
        margin-left: 10vh;
    }
}