#proposition{
    width: 70%;
    margin: 0 auto;
}

input:not([type="submit"]){
    border: 1px solid var(--med-white);
    border-radius: 7.5px;
    box-shadow: 2px 2px 5px var(--med-white);
    text-align : center;
}

.align-text{
    text-align: center;
}

textarea{
    width: 100%;
}

#content form{
    background-color: var(--white);
}

h1{
    font-size: 35px;
}