
* {
  padding: 0px;
  margin: 0px;
  color: #333333;
  --green: #78A000;
  --whitestWhite: #EEE;
  --darkGray: #222;
  --notAsDarkGray: #333;
}
html {
  font-family: "Segoe UI", "Arial";
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  flex: 1;
  display: flex;
  background-image: linear-gradient(to bottom, var(--darkGray), var(--notAsDarkGray));
  border-top: 5px solid var(--green);
  min-height: 10vh;
}
#wrapper {
  flex: 9;
  display: flex;
  background-image: radial-gradient(white, var(--whitestWhite));
}

h1 {
  font-family: Orbitron;
  text-align: center;
  font-size: 50px;
  margin-top: auto;
  margin-bottom: auto;
}

h2 {
  text-align: left;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.sideBlank {
  flex: 1;
}

#center {
  flex: 4;
  margin-top: 5vh;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
}
#content {
  flex: 8;
  background-image: radial-gradient(white, #F8F8F8);
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 10px #00000030;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-top: 5px solid var(--green);
}

#topContent {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

#logo > img {
  height: 20vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#head{
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

#slogan{
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
}

#bottomContent {
  display: flex;
}

.content {
  flex: 1;
  margin: 5vh;
  text-align: center;
  padding: 5vh;
  border: 1px solid #DDD;
  border-radius: 25px;
}

#desc {
  text-align: justify;
}

#networks {
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
}
#networks > a {
  flex: 1;
}
#networks img {
  height: 50px;
}

label {
  font-weight: bold;
}

#form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
input[type="email"] {
  padding: 5px;
  border: 1px solid #DDD;
  border-right: 5px solid #B70000;
  border-radius: 5px;
}
input[type="email"]:valid {
  border-right: 5px solid var(--green);
}
input[type="submit"] {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  border: 0px;
  padding: 5px;
  border: 1px solid #DDD;
  background-image: linear-gradient(to top, var(--darkGray), var(--notAsDarkGray));
  border-radius: 5px;
  color:#DDD;
}

#footer {
  flex: 1;
  background-image: linear-gradient(to top, var(--darkGray), var(--notAsDarkGray));
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom: 5px solid var(--green);
  box-shadow: 10px 10px 10px #00000030;
  min-height: 10vh;
}

@media only screen and (max-width: 1026px) {
    .sideBlank {
      display: none;
    }
    #bottomContent {
      flex-direction: column;
    }
}
