img{
    width : 500px;
    margin-top: 100px;
    display: block;
    border-radius: 7%;
}
  
h1{
    font-family: Orbitron;
    font-size: 50px;
}

body{
    background-color: lightgray;
    color: #3d3d3d;
}

.center{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

p{
    font-family: Orbitron;
    font-size: 30px;
    margin-bottom: 50px;
}
